h1,h2,h3,h4{
	font-size: 200%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, section {
	display: block;
}


#foto{
width: 150px
}

ol, ul {

}



	margin: .5cm;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: separate;
	border-spacing: 0.75cm;
}

thead{
	font-weight:bold;
	font-weight:bold;
}

#top{
	list-style-position: outside;
}

.foto{

}
.text-center{
text-align: center;
}
.title-sections{
	font-size: 150%;
